body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
   
}
header{
    background-color: black;
    padding: 20px;
    
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
a:hover{
    background-color: white;
    color: blue;
}
.box{
    border: 1px solid white;
    border-style: dashed;
    background-color: black;
    padding: 5px;
}
.box:hover{
    background-color: white;
    color: black;
}



